services:
  db:
    image: postgres:16
    container_name: anomaly_pg
    environment:
      POSTGRES_DB: anomaly_detection
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Yange@junior1
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    build: .
    container_name: anomaly_app
    env_file:
      - .env
    volumes:
      - ./:/app
      - ./data:/data
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  pgdata:
